
.navbar {
 margin-left: 20%;
 margin-right: auto;
 font-weight: bold;
 font-size: large;

}

.link{
    padding-left: 20px;
    padding-right: 20px;
    color: inherit;
    text-decoration: inherit;
}
.active{
    color:blueviolet;
}
