
img{
    width: 100%;
    height: 80%;
}


.btn {
    margin: 2%;
    transition-duration: 0.4s;
    padding: .5%;
    
  }



  .btn:hover {
    background-color: #4CAF50;
    color: white;

  }


  h1 {
    text-align: center;

  }

  .buttons{
    margin-top: 5%;
    
   
  }
  
/* 
  div {
    text-align: center;
  } */
