.mini{
    margin: 2% 15%;
  
  
}

.load{
    font-weight: bold;
    margin-top: 10%;
    margin: 20% 30%;
    font-style: 20px;
    background:linear-gradient(to right,#1fa2ff,#12d8fa,#a6ffcb);
    border-radius: 20px;
}


table{
    background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
    border-radius: 20px;
}